h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

#auth-container {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}

#auth-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#register {
  display: flex;
  justify-content: center;
  color: grey;
}

#profile-image-container {
  display: flex;
  justify-content: center;
}

#profile-image {
  margin-top: 50px;
  max-width: 500px;
  max-height: 500px;
}

.main-title {
  /* background-color: slategray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding-top: 50px;
}
